@charset "utf-8";

// font
@font-face {
  font-family: 'PostGrotesk Book';
  src: url('../font/PostGrotesk-Book.eot');
  src: url('../font/PostGrotesk-Book.eot?#iefix') format('embedded-opentype'),
    url('../font/PostGrotesk-Book.woff') format('woff'),
    url('../font/PostGrotesk-Book.svg#PostGrotesk Book') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap
}
